
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/*  background color and font for the body */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #FF9950;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    color: black;
    opacity: 4;
}

/* navigation menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style the main content */
main {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
